/* General */

:root {
  /* Responsive */
  --max-width-full: 856px;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  color: var(--color-text-primary);
  background-color: var(--color-bg);
  font-family: 'Galano', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

/* Themes */

body.dark {
  --color-bg: #101126;
  --color-bg-wrapper: #191A34;
  --color-bg-wrapper-alt: #191A34;
  --color-text-primary: #FFFFFF;
  --color-text-secondary: #C3C4D9;
  --color-text-disabled: #76789c;
  --color-text-tag: #FFFFFF;
  --color-accent: #2F975F;
  --color-scrollbar: #2F975F;
  --color-action-primary: #353758;
  --color-action-primary-alt: #353758;
  --color-action-primary-hover: #54578D;
  --color-action-primary-hover-alt: #54578D;
  --color-action-primary-disabled: #1e1f33;
  --color-action-primary-blurple: #353758;
  --color-action-primary-blurple-hover: #4951E8;
  --color-action-primary-green: #2EB56C;
  --color-menuitem-default: #BABBCE;
  --color-menuitem-hover: #FFFFFF;
  --color-menuitem-active: #2EB56C;
  --color-text-application-professional: #F95F5F;
  --color-text-application-mod: #4AA8FF;
  --color-text-application-consultations: #FF78B8;
  --color-codeblock: #3a3b4d;
  --tag-transparency: .5;
}

body.light {
  --color-bg: #EDF2FF;
  --color-bg-wrapper: #FFFFFF;
  --color-bg-wrapper-alt: #FFFFFF;
  --color-text-primary: #16182F;
  --color-text-secondary: #353758;
  --color-text-disabled: #C2C4E8;
  --color-text-tag: #353758;
  --color-accent: #D1F3E5;
  --color-scrollbar: #55DD93;
  --color-action-primary: #FFFFFF;
  --color-action-primary-alt: #EBECFF;
  --color-action-primary-hover: #C2C6FF;
  --color-action-primary-hover-alt: #C2C6FF;
  --color-action-primary-disabled: #E6E7F6;
  --color-action-primary-blurple: #EBECFF;
  --color-action-primary-blurple-hover: #C2C6FF;
  --color-action-primary-green: #55DD93;
  --color-menuitem-default: #5D5F88;
  --color-menuitem-hover: #0D0E22;
  --color-menuitem-active: #318E5C;
  --color-text-application-professional: #E13939;
  --color-text-application-mod: #1F79CC;
  --color-text-application-consultations: #D83984;
  --color-codeblock: #ffffff;
  --tag-transparency: .25;
}

/* Elements */

main {
  max-width: var(--max-width-full);
  margin: 50px auto 0 auto;
  padding: 0px 100px;
  overflow-y: hidden;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: var(--color-text-secondary);
}

p {
  line-height: 170%;
}

button {
  font-family: 'Galano', Arial, Helvetica, sans-serif;
}

code {
  background-color: var(--color-codeblock);
  border-radius: 3px;
  padding: 1px 3px;
}

.action-primary {
  margin: 0px;
  padding: 20px 30px;
  border: none;
  border-radius: 26px;
  color: var(--color-text-primary);
  background-color: var(--color-action-primary);
  font-size: 17px;
  font-weight: normal;
  cursor: pointer;
  transition: background ease-in-out 0.2s;
}

.action-primary.fullsize {
  width: 100%;
}

.action-primary:hover {
  background-color: var(--color-action-primary-hover);
}

.action-primary.disabled,
.action-primary.disabled:hover,
.action-primary.disabled:active {
  cursor: not-allowed;
  color: var(--color-text-disabled);
  background-color: var(--color-action-primary-disabled);
  opacity: 1;
}

.action-primary.blurple {
  background-color: var(--color-action-primary-blurple);
}

.action-primary.blurple:hover {
  background-color: var(--color-action-primary-blurple-hover);
}

.action-primary.border {
  padding: calc(20px - 3px) calc(30px - 3px);
  border: 3px solid var(--color-action-primary-green);
  background: none;
}

.action-primary.border:hover {
  background: var(--color-action-primary-green);
}

.action-primary:active,
.action-secondary:active {
  opacity: .8;
}

.action-primary span {
  margin-right: 10px;
}

.action-primary svg path {
  fill: var(--color-text-primary);
}

.contentfullsizeblock .action-primary {
  background-color: var(--color-action-primary-alt);
}

.contentfullsizeblock .action-primary:hover {
  background-color: var(--color-action-primary-hover-alt);
}

.action-secondary {
  margin: 0px 36px;
  color: var(--color-text-primary);
  font-weight: normal;
  cursor: pointer;
  font-size: 17px;
  transition: opacity ease-in-out 0.2s;
}

.contentblock {
  margin: 0px 0 60px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;
}

.contentblock.l {
  flex-direction: row;
}

.contentblock.r {
  flex-direction: row-reverse;
}

.contentblock.l .animate {
  animation: fadeInLeft;
  animation-duration: .2s;
}

.contentblock.r .animate {
  flex-direction: fadeInRight;
  animation-duration: .2s;
}

.contentblock-text {
  width: 458px;
}

.contentblock-text p {
  font-size: 17px;
  margin: 10px 0;
  color: var(--color-text-secondary);
}

.contentblock-text h2 {
  font-size: 28px;
  text-transform: uppercase;
  margin: 0;
  display: inline-block;
}

.contentblock-actions {
  margin: 25px 0 0 0;
}

.contentblock-tagrow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}

.contentblock .tag {
  border-radius: 8px;
  text-transform: uppercase;
  padding: 2px 9px;
  line-height: 190%;
  margin: 0;
  font-size: 10.9px;
  font-weight: normal;
  display: inline-block;
  color: var(--color-text-tag);
}

.tag.red {
  background-color: rgba(241, 71, 102, var(--tag-transparency));
}

.tag.green {
  background-color: rgba(47, 151, 95, var(--tag-transparency));
}

.contentfullsizeblock {
  background-color: var(--color-bg-wrapper-alt);
  border-radius: 20px;
  padding: 50px 80px;
  margin: 60px 0 100px 0;
}

.contentfullsizeblock h2 {
  font-size: 29px;
  margin: 0 0 5px 0;
  display: inline-block;
  text-transform: uppercase;
}

.contentfullsizeblock h3 {
  font-size: 20px;
  margin: 30px 0 5px 0;
  text-transform: uppercase;
  color: var(--color-text-secondary);
  display: inline-block;
}

.contentfullsizeblock p {
  font-size: 17px;
  margin: 10px 0;
  color: var(--color-text-secondary);
}

.contentfullsizeblock ul {
  margin: 0 0 30px 0;
  color: var(--color-text-secondary);
  padding: 0 0 0 25px;
  line-height: 170%;
  font-size: 17px;
}

.supportblock {
  text-align: center;
  margin: 150px 0 120px 0;
}

.supportblock h2 {
  font-size: 28px;
  text-transform: uppercase;
  margin: 0;
}

.supportblock p {
  font-size: 17px;
  margin: 10px 0;
  color: var(--color-text-secondary);
}

.supportblock-actions {
  margin: 30px 0 0 0;
}

svg.application-icon {
  margin: 0 15px 0 0;
}

svg.application-icon.mod path {
  fill: var(--color-text-application-mod);
}

svg.application-icon.professional path {
  fill: var(--color-text-application-professional);
}

svg.disabled path {
  fill: var(--color-text-disabled);
}

.error-page {
  margin-top: 20vh;
}

.error-page .contentblock {
  margin: 0;
  width: 100%;
}

.no-touch {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-drag: none;
  user-select: none;
}

.secret {
  display: none;
}

::-webkit-scrollbar {
  width: 0.4rem;
  height: 0.4rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-scrollbar);
  border-radius: 8px;
  border: 0 solid transparent;
}

::-webkit-scrollbar-track {
  background: var(--color-bg);
}

/* Responsive */

@media only screen and (max-width: 1050px) {
  .contentblock-text {
    width: 300px;
  }
}

@media only screen and (max-width: 900px) {

  main {
    padding: 0px 50px;
    margin: 50px 0 auto 0;
  }

  .contentblock {
    margin: 0px 0 80px 0;
    text-align: center;
    row-gap: 20px;
  }

  .contentblock-image img {
    display: none;
  }

  .contentblock.l,
  .contentblock.r {
    flex-direction: column-reverse;
  }

  .action-secondary {
    display: none;
  }

  .contentblock-tagrow {
    flex-direction: column;
  }

  .contentfullsizeblock {
    margin: 40px 0 60px 0;
  }
}

@media only screen and (max-width: 800px) {
  .error-page {
    margin-top: 10vh;
  }
}

@media only screen and (max-width: 630px) {
  main {
    padding: 0px 20px;
  }

  h2,
  .contentblock h2,
  .supportblock h2 {
    font-size: 26px;
  }

  p,
  .contentblock p,
  .supportblock p,
  .contentfullsizeblock p,
  .contentfullsizeblock ul {
    font-size: 15px;
  }

  .contentfullsizeblock {
    padding: 25px 20px;
    margin: 0px 0 30px 0;
  }

  .contentfullsizeblock h2 {
    font-size: 25px;
  }

  .contentfullsizeblock h3 {
    font-size: 16px;
    margin: 20px 0 5px 0;
  }
}

@media only screen and (max-width: 360px) {
  .contentblock-text p {
    font-size: 14px;
  }

  .contentblock-text h2 {
    font-size: 25px;
  }
}